/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

#app {
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input,
button,
textarea,
select {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.note {
    background: #f7f7f7;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    position: relative;
}

.note h3 {
    margin: 0 0 10px 0;
}

.note p {
    margin: 0 0 10px 0;
}

.note button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.note button:nth-child(3) {
    right: 140px;
    background-color: #007BFF;
}

.note button:nth-child(4) {
    background-color: #ff4d4d;
}

.note button:hover:nth-child(3) {
    background-color: #0056b3;
}

.note button:hover:nth-child(4) {
    background-color: #ff1a1a;
}

#search {
    margin-bottom: 20px;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode input,
.dark-mode button,
.dark-mode textarea,
.dark-mode select {
    background-color: #555;
    color: white;
    border: 1px solid #444;
}

.dark-mode .note {
    background: #444;
    color: white;
}

.dark-mode .note button:nth-child(3) {
    background-color: #007BFF;
}

.dark-mode .note button:nth-child(4) {
    background-color: #ff4d4d;
}

.dark-mode .note button:hover:nth-child(3) {
    background-color: #0056b3;
}

.dark-mode .note button:hover:nth-child(4) {
    background-color: #ff1a1a;
}